<%= form_for(@expense) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </p> 

  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p> 

  <p>
    <%= f.label :date_used %>
    <%= f.text_field :date_used%>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
